@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro&display=swap');

* {
	margin: 0;
	padding: 0;
}

.landingPage {
	position: absolute;
	width: 100%;
	height: auto;
}

.bgImage {
	background-size: cover;
	background-repeat: no-repeat;
	/* clip-path: polygon(20% 7%, 32% 0, 100% 0, 100% 73%, 78% 86%, 49% 84%, 29% 74%, 33% 53%, 22% 34%, 16% 18%); */

	margin-top: 0;
	margin-left: auto;
	width: 50%;
	height: 600px;
	position: relative;
	border-bottom-left-radius: 300px;
}

.backgroundContainer {
	/* background-color: lightblue; */
	width: 100%;
	height: auto;
	display: flex;
	position: absolute;
	top: 0;
}

nav {
	position: absolute;
	top: 15px;
	z-index: 1;
	width: 100%;
	font-size: 1.2vw;
	font-family: 'Source Sans Pro', sans-serif;
}

nav ul {
	display: flex;
	list-style: none;
	background-color: transparent;
}

nav ul li {
	cursor: pointer;
	border-bottom: 3px solid transparent;
}

nav ul li:hover {
	border-bottom: 3px solid orange;
}

nav ul li:first-child {
	margin-right: auto;
	margin-left: 5%;
}

nav ul li:nth-child(n + 2) {
	margin-left: 3%;
	margin-right: 3%;
	margin-right: 1%;
	color: white;
}

nav ul li span {
	color: orange;
	font-weight: bolder;
	font-size: larger;
}

nav ul li:last-child {
	border: 1px solid orange;
	background-color: orange;
	border-radius: 20px;
	width: 7%;
	padding: 5px;
	font-size: 0.6rem sans-serif;
	text-align: center;
}

.content {
	display: flexbox;
	position: relative;
	height: fit-content;
	align-self: center;
	justify-self: center;
	margin-left: auto;
	font-size: 1.2vw;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.3rem;
}

.content p {
	line-height: 1.3rem;
	font-family: 'Source Sans Pro', sans-serif;
	color: gray;
	letter-spacing: normal;
}

.content input {
	padding: 10px;
	width: 15vw;
	border-radius: 20px;
	outline: none;
	border: none;
	background-color: orange;
	opacity: 0.8;
	color: white;
	cursor: pointer;
	margin: 5% 2%;
	font-size: 1.2vw;
}

.content input:hover {
	background-color: rgb(218, 146, 12);
}

.content input {
	-webkit-animation: action 1s infinite alternate;
	animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-10px);
	}
}
@keyframes action {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-10px);
	}
}

.content ul li {
	margin-right: 4%;
	cursor: pointer;
}

.content button:active {
	background-color: rgb(167, 114, 17);
	box-shadow: 5px solid grey;
}

.content span {
	color: orange;
}
.icons {
	display: flex;
	list-style: none;
	color: gray;
	padding-left: 10%;
}

.icons li {
	margin-left: 5px;
}
